*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: 
    linear-gradient(45deg, rgb(43, 128, 255), rgb(40, 54, 255) );
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.score_background{
    background-color: rgb(4, 4, 126);
    margin: 5%;
    height: 78vh;
    border-radius: 30px;
}
.score_background{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.record_lists{
    display: flex;
    flex-direction: row;
}
.score_background h1{
    font-size: 50px;
}
.record_lists div{
    margin-inline: 50px;
    margin-block: 10%;
    font-size: 70px;
}
.record_lists div h3{
    font-size: 40px;
}