*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: 
    linear-gradient(45deg, rgb(1, 90, 224), rgb(0, 8, 117) );
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1{
    color: white;
    margin-left: 10px;
    text-align: center;
    margin-top: 2%;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
label{
    color: white;
}
.modes {
    margin: 20px;
}
select{
    width: 7vw;
    height: 4vh;
    border-radius: 20px;

}
.wpm_game , .accuracy_game,.restart_game,.leave_game ,.modes{
    margin-top: 3%;
    width: 15vw;
    height: 15vh;
    padding: 1%;
    border-radius: 20px;
    background: linear-gradient(#02ccff,#0655ff);
    display: flex;
    flex-direction: column;
}
header{
    margin-inline: 5%;
}
.wpm_game h3 , .accuracy_game h3, .restart_game h3,.leave_game h3 ,.modes label{
    font-size: 22px;
    padding: 2%;
    color: #ffff;
}